*{
    margin: 0;
    padding: 0;
   
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  
}
.header img{
    height: 40px;
    width: 40px;
}
.header nav{
    float: right;
    padding: 20px 10px;
    font-size: 28px;
}
.header nav a{
    margin: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
}
.header nav a:hover{
    margin: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: blue;
}
main{
    margin-top: 40px;
     
}
main .form-section form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
main .bio-section{
    text-align: center;
    min-height: 50vh;
   
}
main .bio-section .bio img{
    /* top: 50%; */
    /* left: 80%; */
    border-radius: 50%;
     width: 200px; 
     height: 230px;
}
main .bio-section .bio{
    margin: 40px;
}
main .bio-section .bio p{
    font-size: 17px;
}
main .form-section h2{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
main .form-section form input {
    margin: 10px;
    width: 20%;
    height: 2rem;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.button{
background-color: #1d3b6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
background-color: grey;
}
.footer{
    background-color: #f1f1f1;
    text-align: center;
    
    margin-top: auto;
    height: 3rem;
   padding-top: 20px;

}